.login-container {
    color: #fff;
    text-align: center;
}
.form-group {
    text-align: left;
}
.invalid-feedback {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.15rem 0.75rem;
    color: #d30000;
    font-weight: 600;
    border-radius: .25rem;
}
.dashboard-container {
    background: url(../img/main-fondo.jpg) no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
}
.product-container {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    /* height: calc(100% - 57px - 1rem); */
    margin-top: 1rem;
}
.top-content {
    padding: 1.75rem 1rem 0;
    height: auto;
}
.input-group-text img {
    width: 1rem;
}
.catalog-content {
    /* padding-bottom: 1rem; */
}
.catalog-content>.row>.card {
    max-width: 24.4%;
    margin-bottom: 1rem;
}
.catalog-content>.row>.card:nth-of-type(2){
    margin-left: 0.8%;
    margin-right: 0.4%;
}
.catalog-content>.row>.card:nth-of-type(3){
    margin-left: 0.4%;
    margin-right: 0.8%;
}
.card-img-top {
    height: 10rem;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .catalog-content>.row>.card {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
}
