.login-container {
    color: white;
    text-align: center;
}
.form-group {
    text-align: left;
}
.invalid-feedback {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0.15rem 0.75rem;
    color: #d30000;
    font-weight: 600;
    border-radius: .25rem;
}
.dashboard-container {
    background: url(../img/main-fondo.jpg) no-repeat top;
    -webkit-background-size: cover;
    background-size: cover;
}
