* {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
body {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}
h1 {
    font-weight: 400;
}
a {
    color: white;
}
a:hover {
    color: white;
}
div.container-fluid {
    height: 100%;
}
.no-padding {
    padding: 0;
}
.no-padding-sides {
    padding-left: 0;
    padding-right: 0;
}
.no-margin {
    margin: 0;
}
.no-margin-sides {
    margin-left: 0;
    margin-right: 0;
}
.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}
.fill-height {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
}
.btn-secondary {
    color: #fff;
    background-color: #f9b85d;
    background-image: none;
    border-color: #f9b85d;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #f6a333;
    background-image: none;
    border-color: #dd9733;
}
.btn-outline-secondary {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0,0,0,0);
    background-image: none;
    border-color: rgba(0, 0, 0, 0.125);
}
.btn-outline-secondary:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0,0,0,0.125);
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
}
